!!!
%html
  %head
    %title= yield :page_title
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul.nav
      = navbar_link 'Post', root_path, 'active'
      = navbar_link 'Category', categories_path, 'active'
    = yield
